<h1 class="text-2xl font-bold">Yonkes <span class="highlight">Nearby</span></h1>

@for(yonke of questionStore.getYonkes(); track yonke){

<div class="flex items-center p-4 bg-white shadow-sm rounded-sm">
  <div class="w-20 h-20 bg-gray-200 rounded-sm flex-shrink-0"></div>
  <div class="ml-4 flex-1">
    <p class="text-xs text-gray-500 uppercase font-medium">Closest</p>
    <h2 class="font-bold text-lg text-gray-700">{{ yonke.name }}</h2>
    <p class="text-sm text-gray-500">
      1777 West Street, Virginia Beach, VA 23451
    </p>
  </div>
  <div class="flex items-center space-x-2">
    <button
      class="text-white px-4 py-2 rounded-lg hover:bg-gray-800"
      style="background-color: #213842"
    >
      <a [href]="getGoogleMapsUrl(yonke.latitude, yonke.longitude)" target="_blank" rel="noopener noreferrer"
        >Cómo llegar</a
      >
    </button>
  </div>
</div>
}
