<section class="flex flex-col lg:flex-row gap-8 lg:gap-16 bg-[#2a2a2a] py-32 lg:py-44 px-4 lg:px-52 text-text-main">

    <!-- Contenido-->
    <div class="lg:w-1/2">
      <h1 class="text-2xl lg:text-4xl font-bold mb-4">
        Encontrar tus autopartes es más fácil
      </h1>
      <p class="max-w-md text-text-secondary">
        Encuentra autopartes de calidad para tu vehículo en modo oscuro. Estilo moderno y fácil navegación.
      </p>
      <button class="mt-6 bg-accent text-black font-light px-6 py-2 rounded hover:bg-accenthover transition">
        Buscar ahora
      </button>
    </div>
    <!-- Contenedor elíptico -->
    <div class="hidden lg:block relative w-full lg:w-[600px] h-[250px] bg-gray-800 rounded-full shadow-lg mx-auto">
      <!-- Tarjeta principal -->
      <div class="absolute bottom-8 left-1/2 transform -translate-x-1/2 lg:bottom-14 lg:left-28 lg:translate-x-0">
        <div class="bg-gray-100 rounded-md shadow-md p-6 w-[220px]">
          <div class="font-semibold text-gray-700">Yonkes en Tecate</div>
          <div class="text-sm text-gray-600">$120K - $130K</div>
        </div>
      </div>
      <!-- Tarjeta flotante -->
      <div class="absolute top-6 right-1/2 transform -translate-x-1/2 -translate-y-1/4 lg:top-16 lg:right-40 lg:translate-x-1/4 lg:-translate-y-1/4">
        <div class="relative bg-gray-100 rounded-md shadow-md p-6 w-[200px]">
          <div class="font-semibold text-gray-700">Yonkes en Tijuana</div>
          <div class="text-sm text-gray-600">$100K - $110K</div>


          <div class="absolute -top-4 -right-4 w-10 h-10 bg-teal-500 rounded-full shadow-md flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 11a2.25 2.25 0 114.5 0 2.25 2.25 0 01-4.5 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.5 11c0 7.125-7.5 10.125-7.5 10.125S4.5 18.125 4.5 11a7.5 7.5 0 1115 0z" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>
  