<form class="flex flex-col">
  <div class="gap-6 mb-2 mt-6 sm:mb-8">

    <div class="mb-2">
      <label
        for="phone"
        class="block mb-2 text-sm font-medium text-white dark:text-white"
        >Phone number</label
      >
      <input
        type="tel"
        id="phone"
        class="text-white w-full bg-bg-secondary2 border border-bg-primary rounded py-2 px-3 placeholder-gray-300 focus:outline-none focus:border-accent"
        placeholder="1234567890"
        required
      />
    </div>
  </div>

  <div class="mb-2">
    <label
      for="password"
      class="block mb-2 text-sm font-medium text-white dark:text-white"
      >Contraseña</label
    >
    <input
      type="password"
      id="password"
      class="text-white w-full bg-bg-secondary2 border border-bg-primary rounded py-2 px-3 placeholder-gray-300 focus:outline-none focus:border-accent"
      placeholder="•••••••••"
      required
    />
  </div>
  <div class="flex mt-64">
  <button
    
    class=" w-auto bg-accent text-black font-normal px-24 py-2 rounded hover:bg-accent transition hover:text-white"
    >
    Iniciar Sesión
  </button>
  <button (click)="closeDialog()"
  class="pl-12 w-auto bg-transparent text-white font-normal hover:text-accent">
    No, gracias
  </button>
</div>
</form>
