<section class="bg-bg-primary py-14 h-3/4">
  <form [formGroup]="questionForm">
    <div class="max-w-screen-lg mx-auto px-4">
      <!-- MAIN FORM CONTAINER -->
      <h2 class="text-4xl font-bold mb-10 mt-10 text-center text-[#f5f8fa]">
        <!-- TITLE -->
        Busca tu pieza
      </h2>

      <div class="flex flex-col md:flex-row items-center gap-1">
        <!-- SEARCH INPUTS -->
        <div class="relative flex-1">
          <input
            formControlName="pieceName"
            type="text"
            placeholder="Bomba de Agua"
            class="pl-10 w-full bg-input-bg border border-gray-700 rounded py-2 px-3 placeholder-gray-500 focus:outline-none focus:border-accent"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-gray-400 absolute left-3 top-1/2 -translate-y-1/2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M11 4a7 7 0 015.198 11.799l3.196 
               3.197a1 1 0 01-1.414 1.414l-3.197-3.196A7 
               7 0 1111 4z"
            />
          </svg>
        </div>

        <!-- PENDIENTE MULTISELECT -->
        <div class="flex-1">
          <select
            #citiesSelect
            (change)="onSelectionChange($event.target)"
            class="w-full bg-input-bg border border-gray-700 rounded py-2.5 px-3 text-black focus:outline-none focus:border-accent"
          >
            <option value="" disabled selected>
              {{
                selectedCities().length > 0
                  ? selectedCitiesText()
                  : "Selecciona ciudades"
              }}
            </option>
            @for (city of cities; track city) {

            <option [value]="city.name">{{ city.name }}</option>

            }
          </select>
        </div>
      </div>

      <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-1">
        <input
          formControlName="carBrand"
          type="text"
          placeholder="Marca de automóvil"
          class="bg-input-bg border border-gray-700 rounded py-2 px-3 placeholder-gray-500 focus:outline-none focus:border-accent"
        />
        <input
          formControlName="carModelYear"
          type="text"
          placeholder="Año / Modelo"
          class="bg-input-bg border border-gray-700 rounded py-2 px-3 placeholder-gray-500 focus:outline-none focus:border-accent"
        />
        <input
          formControlName="carEngine"
          type="text"
          placeholder="Motor"
          class="bg-input-bg border border-gray-700 rounded py-2 px-3 placeholder-gray-500 focus:outline-none focus:border-accent"
        />
      </div>

      <!-- CONTACTO -->
      <div class="mt-8">
        <h3 class="text-xl text-teal-50 font-semibold mb-6 mt-10">
          Datos de Contacto
        </h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-1">
          <input
            formControlName="name"
            type="text"
            placeholder="Nombre"
            class="bg-input-bg border border-gray-700 rounded py-2 px-3 placeholder-gray-500 focus:outline-none focus:border-accent"
          />
          <input
            formControlName="phone"
            type="text"
            placeholder="Número de Teléfono"
            class="bg-input-bg border border-gray-700 rounded py-2 px-3 placeholder-gray-500 focus:outline-none focus:border-accent"
          />
        </div>
      </div>

      <div class="mt-6 flex justify-center items-center">
        <button
          [disabled]="!questionForm.valid || selectedCities().length <= 0"
          (click)="onSubmitForm()"
          class="w-auto bg-accent text-black font-normal px-24 py-2 rounded hover:bg-accent transition"
        >
          Buscar
        </button>
      </div>
    </div>
  </form>
</section>
