<div class="min-h-screen p-4">
  <!-- Header -->
  <div class="max-w-lg mx-auto">
    <div class="text-sm text-gray-600 mb-2">
      <a routerLink="/" class="hover:underline text-base font-bold"
        >&lt; Home</a
      >
    </div>
    <h1 class="text-2xl font-bold">
      Question <span class="highlight">Details</span>
    </h1>

    <!-- Product Info -->
    <div class="flex items-start mt-4 p-4 bg-white shadow-sm rounded-sm">
      <div class="w-20 h-20 bg-gray-200 rounded-sm flex-shrink-0"></div>
      <div class="ml-4">
        <p class="font-bold text-gray-700">Product name</p>
        <p class="text-sm text-gray-500">Info details info details <br> info details info details</p>
      </div>
      <div class="ml-auto">
        <p class="font-bold text-gray-500">Brand - Year</p>
      </div>
    </div>
  </div>

  <!-- Cards -->
  <div class="max-w-lg mx-auto mt-6 space-y-6">
    <app-yonke-item-detail></app-yonke-item-detail>
    <!-- <app-card></app-card>
  
    <app-card></app-card>
    <app-card></app-card> -->
  </div>

  <!-- Footer Button -->
  <div class="max-w-lg mx-auto mt-6">
    <button
      class="w-full bg-olive-600 text-white py-3 rounded-lg shadow-md hover:bg-olive-700"
    >
      Make another question
    </button>
  </div>
</div>

<!-- <div>
  <h1 class="text-xl">Question <span class="highlight"> Details</span></h1>
</div>

<div
  class="flex flex-row justify-between gap-3 max-w-3xl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
>
  <div>image**</div>

  <div>
    <p>Product Name</p>
    <p>info details description</p>
  </div>

  <div>
    <h5>Product / Year</h5>
  </div>
</div>



 -->
